@import './reset.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --container-width: 1640px;
  --container-padding: 15px;
  --container-padding_tablet: 50px;
  --container-padding_desk: 20px;

  --text-color: #333333;
  --black-color: #000;
  --white-color: #fff;
  --grey-color: #f8f9fb;
  --bright-grey-color: #f3f3fb;
  --bright-primary-color: #8a9b6e;
  --primary-color: #354733;
  --brown-color: #b99274;
  --red-color: #d11616;

  --fonts-stack: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--fonts-stack);
  background-color: var(--bright-grey-color);
  font-size: 0;
}

@font-face {
  font-family: 'Open Sans';
  src:
    local('Open Sans'),
    url(./fonts/OpenSans-Regular.woff2) format('woff2'),
    url(./fonts/OpenSans-Regular.woff) format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src:
    local('Open Sans'),
    url(./fonts/OpenSans-SemiBold.woff2) format('woff2'),
    url(./fonts/OpenSans-SemiBold.woff) format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src:
    local('Open Sans'),
    url(./fonts/OpenSans-Bold.woff2) format('woff2'),
    url(./fonts/OpenSans-Bold.woff) format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
/* 
.container {
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
  margin: 0 auto;

  @media (min-width: 575.98px) {
    padding: 0 var(--container-padding_tablet);
  }

  @media (min-width: 1399.98px) {
    padding: 0 var(--container-padding_desk);
  }
} */
